html{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    a {
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
    h1 {
        font-weight: 300;
        letter-spacing: .3rem;

    }
    p{
        font-weight: 100;
    }
    .main-header {
        margin-top: 5rem;
    }
    .main-nav {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background: #fff;
        height: 5rem;
    }  
    

    .nav-links {
        list-style: none;
        margin:0;
        padding:0 100px 0 100px;
        display: flex;
        float:left;
        height:100%;
        justify-content: right;
        align-items: center;
        li{
            display: flex;
            justify-content: right;
            align-items: center;
            margin: 0 .1rem;
            padding: 0 .5rem;
            text-decoration: none;
            a{
                color: #000;
                text-transform: uppercase;
                font-weight: 100;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .post-preview-thumbnail {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-left: 15%;
    }

    .post-thumbnail{
        width: 100%;
        height: 55vh;
        background-size: cover;
        background-position: center;
    }

    .blog-blocks {
        padding-top: 2rem;
        display:flex;
        justify-content: center;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
    }

    .post-preview {
        border-radius: 3px;
        width: 300px;
        margin: 1rem;

      }

    .post-content {
        p{
            white-space: pre-line;
        }
    }

      .post-preview-content {
        text-align: center;
        padding: 1rem;
      }
      .block{
          max-width:22rem;
          justify-content: center;
          align-content: center;
      }

      /* Body Style */
      .body {
          white-space: pre-line;
      }
} 